/*
_sass/_typography.scss
Define font content properties here
*/

$font: "Verdana", sans-serif;
$font-serif: "Georgia", serif;
$font-mono: "Inconsolata", monospace;

body {
    font-family: $font;
    font-size: 3.5vmin;
    background-color: $near-white;
    color: $near-black;

    text-align: justify;
    text-indent: 0;
    line-height: 1.6;
    padding: 0.6em 0 0;

    &.no-padding {
        padding: 0 0 0;
    }
}

// body * { }

h1, h2, h3 {
    text-align: center;
    margin: 0 0 0;
}

h4, h5, h6 {
    text-align: left;
    margin: 0 0 0;
}

h1 { font-size: 9vmin; }
h2 { font-size: 7vmin; }
h3 { font-size: 5.5vmin; }
h4 { font-size: 5vmin; }
h5 { font-size: 4.5vmin; }
h6 { font-size: 4vmin; }

.btn {
    font-family: $font;
    font-size: 3.5vmin;
    font-weight: bold;
    color: $near-black;

    text-align: center;
    border: 1px solid $near-black;
    line-height: 1;

    &:hover  {
        background: $accent1-light;
        text-decoration: underline;
    }
}

a {
    color: $accent1;
    text-decoration: none;

    &:hover {
        color: $accent1-dark;
        text-decoration: underline;
    }
}

blockquote {
    border-left: 3px solid $dark-grey;
    padding: 0.6em 4em 0;
}

code {
    font-family: $font-mono;
    background: $light-grey;
    line-height: 1;

    padding: 0.2em 0.4em;
    border-radius: 0.6em;
}